
<%- include('./partial/header') %>

<%- include('./userNavbar') %>

<%- include("./reportsNavbar") %>
    <div class="container my-3">

      <h1 align="center" style="text-decoration: underline;">Issue Requests</h1>
        <table class="table table-striped my-3" border="2">
            <thead>
              <tr>
                <th scope="col">Membership Id</th>
                <th scope="col">Name of Book/Movie</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Request Fulfilled Date</th>
              </tr>
            </thead>
          </table>

        
    </div>

<%- include('./partial/footer') %>