
<%- include("./partial/header") %>


<%- include("./adminNavbar") %>

<div class="container my-3">

    <h1 align="center" style="text-decoration: underline;">House Keeping</h1>
    <table class="table table-bordered table-hover table-striped my-3">
        <tbody>
          <tr>
            <th scope="row">Membership</th>
            <td><a href="/admin/maintainance/addMembership">Add</a></td>
            <td><a href="/admin/maintainance/updateMembership">Update</a></td>
          </tr>
          <tr>
            <th scope="row">Books/Movies</th>
            <td><a href="/admin/maintainance/addbm">Add</a></td>
            <td><a href="/admin/maintainance/updatebm">Update</a></td>
          </tr>
          <tr>
            <th scope="row" colspan="3"><a href="/admin/maintainance/userManagement">User Management</a></th>
          </tr>
        </tbody>
      </table>

</div>


<%- include("./partial/footer") %>