
<%- include('./partial/header') %>

<%- include('./userNavbar') %>

<%- include("./reportsNavbar") %>
    <div class="container my-3">

      <h1 align="center" style="text-decoration: underline;">Master List of Movies</h1>
        <table class="table table-striped my-3" border="2">
            <thead>
              <tr>
                <th scope="col">Serial No</th>
                <th scope="col">Name of Movie</th>
                <th scope="col">Author Name</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
                <th scope="col">Cost</th>
                <th scope="col">Procurement Date</th>
              </tr>
            </thead>
          </table>

        
    </div>

<%- include('./partial/footer') %>