
<%- include('./partial/header') %>

<%- include('./userNavbar') %>

<%- include("./reportsNavbar") %>
    <div class="container my-3">

      <h1 align="center" style="text-decoration: underline;">List of Active Memberships</h1>
        <table class="table table-striped my-3" border="2">
            <thead>
              <tr>
                <th scope="col">Membership Id</th>
                <th scope="col">Name of Member</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Contact Address</th>
                <th scope="col">Aadhar Card No</th>
                <th scope="col">Start Date of Membership</th>
                <th scope="col">End Date of Membership</th>
                <th scope="col">Status</th>
                <th scope="col">Amount Pending(Fine)</th>
              </tr>
            </thead>
          </table>

        
    </div>

<%- include('./partial/footer') %>