<ul class="nav">
    <li class="nav-item">
        <a class="nav-link disabled">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/reports/masterBooks">Master List of Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Master List of Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Master List of Memberships</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Active Issues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Overdue Returns</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pending Issue Requests</a>
    </li>
</ul>