<ul class="nav">
    <li class="nav-item">
        <a class="nav-link disabled">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/reports/masterBooks">Master List of Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/reports/masterMovies">Master List of Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/reports/masterMember">Master List of Memberships</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/reports/activeIssues">Active Issues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/reports/overdueReturns">Overdue Returns</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/reports/pendingIssueRequests">Pending Issue Requests</a>
    </li>
</ul>