
<%- include('./partial/header') %>

<%- include('./userNavbar') %>

    <ul class="nav">
        <li class="nav-link disabled">Transactions -> </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/transactions/available">Is book Available</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transactions/issue">Issue Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transactions/return">Return Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transactions/fine">Pay Fine</a>
        </li>
      </ul>

<%- include('./partial/footer') %>