
<%- include("./partial/header") %>


<%- include("./adminNavbar") %>

<%- include('./maintainanceNavbar') %>

<div class="container my-3">
    <h1 align="center">Update Book/Movie</h1>

    <form>
        
        <div class="mb-3">
            <div class="mb-1">
                Choose
            </div>
            <span class="mx-2">
                <label for="book" class="form-label">Book</label>
                <input type="radio" name="role" id="book" checked>
            </span>
            
            <span class="mx-3">
                <label for="movies" class="form-label">Movie</label>
                <input type="radio" name="role" id="movies">
            </span>
            
        </div>
        
        <div class="mb-3">
          <label for="name" class="form-label">Book/Movie Name</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
    
          <div class="mb-3">
            <label for="serialNo" class="form-label">Serial No</label>
            <input type="text" class="form-control" name="serialNo" value="1" id="serialNo">
          </div>

          <div class="mb-3">
              
            <label class="form-label">Status</label>
            <select class="form-select" name="status" aria-label="Default select example">
                <option>Available</option>
                <option>Unavailable</option>
                <option>Removed</option>
                <option>On repair</option>
                <option>to replace</option>
            </select>
        </div>
          
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<%- include("./partial/footer") %>