
<%- include('./partial/header') %>

<%- include('./userNavbar') %>

    <div class="container my-5">

        <h1 align="center">Available Reports</h1>


        <table class="table table-striped table-hover my-3" border="2">
            <tbody>
                    <tr>
                        <td><a href="/reports/masterBooks">Master List of Books</a></td>
                    </tr>
                <tr>
                    <td><a href="/reports/masterMovies">Master List of Movies</a></td>
                </tr>
                <tr>
                    <td><a href="/reports/masterMember">Master List of Memberships</a></td>
                </tr>
                <tr>
                    <td><a href="/reports/activeIssues">Active Issues</a></td>
                </tr>
                <tr>
                    <td><a href="/reports/overdueReturns">Overdue Returns</a></td>
                </tr>
                <tr>
                    <td><a href="/reports/pendingIssueRequests">Pending Issue Requests</a></td>
                </tr>
            </tbody>
          </table>

    </div>

<%- include('./partial/footer') %>