
<%- include("./partial/header") %>


<%- include("./userNavbar", {role}) %>

<div class="container my-3">
    <h1 align="center">Product Details</h1>

    <table class="table table-striped table-hover" border="2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Code No From</th>
            <th scope="col">Code No To</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>SC(B/M)000001</td>
            <td>SC(B/M)000004</td>
            <td>Science</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>EC(B/M)000001</td>
            <td>EC(B/M)000004</td>
            <td>Economics</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>FC(B/M)000001</td>
            <td>FC(B/M)000004</td>
            <td>Fiction</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>CH(B/M)000001</td>
            <td>Ch(B/M)000004</td>
            <td>Children</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>PD(B/M)000001</td>
            <td>PD(B/M)000004</td>
            <td>Personal Development</td>
          </tr>

        </tbody>
      </table>






</div>









<%- include("./partial/footer") %>